<a href="https://colab.research.google.com/github/racamirko/ml_sketches/blob/main/01_multivar_timeseries_beijing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Multivariate timeseries prognosis

Using example from [here](https://machinelearningmastery.com/multivariate-time-series-forecasting-lstms-keras/)

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow import keras

In [9]:
# Dataset information
url_beijing_pm25 = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/pollution.csv'
df_raw = pd.read_csv(url_beijing_pm25)
df_raw.drop('No', axis=1, inplace=True)
df_raw.head(20)

    year  month  day  hour  pm2.5  DEWP  TEMP    PRES cbwd    Iws  Is  Ir
0   2010      1    1     0    NaN   -21 -11.0  1021.0   NW   1.79   0   0
1   2010      1    1     1    NaN   -21 -12.0  1020.0   NW   4.92   0   0
2   2010      1    1     2    NaN   -21 -11.0  1019.0   NW   6.71   0   0
3   2010      1    1     3    NaN   -21 -14.0  1019.0   NW   9.84   0   0
4   2010      1    1     4    NaN   -20 -12.0  1018.0   NW  12.97   0   0
5   2010      1    1     5    NaN   -19 -10.0  1017.0   NW  16.10   0   0
6   2010      1    1     6    NaN   -19  -9.0  1017.0   NW  19.23   0   0
7   2010      1    1     7    NaN   -19  -9.0  1017.0   NW  21.02   0   0
8   2010      1    1     8    NaN   -19  -9.0  1017.0   NW  24.15   0   0
9   2010      1    1     9    NaN   -20  -8.0  1017.0   NW  27.28   0   0
10  2010      1    1    10    NaN   -19  -7.0  1017.0   NW  31.30   0   0
11  2010      1    1    11    NaN   -18  -5.0  1017.0   NW  34.43   0   0
12  2010      1    1    12    NaN   -19  -5.0  1015.0   NW  37.56   0   0
13  2010      1    1    13    NaN   -18  -3.0  1015.0   NW  40.69   0   0
14  2010      1    1    14    NaN   -18  -2.0  1014.0   NW  43.82   0   0
15  2010      1    1    15    NaN   -18  -1.0  1014.0   cv   0.89   0   0
16  2010      1    1    16    NaN   -19  -2.0  1015.0   NW   1.79   0   0
17  2010      1    1    17    NaN   -18  -3.0  1015.0   NW   2.68   0   0
18  2010      1    1    18    NaN   -18  -5.0  1016.0   NE   1.79   0   0
19  2010      1    1    19    NaN   -17  -4.0  1017.0   NW   1.79   0   0

Normalize the data

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import MinMaxScaler